<section class="p-lg-5 p-3 seccion-segmentos">
    <div class="container col-12 text-center">
        <div class="row">
            <div class="col-6">
                <a href="{{ path('front_empresa_segmento', { "slug": "financiero" }) }}">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-coins"></i>
                    </button>
                    <p class="pt-3">Financiero</p>
                </a>
            </div>
            <div class="col-6">
                <a href="{{ path('front_empresa_segmento', { "slug": "retail" }) }}">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-hand-holding-usd"></i>
                    </button>
                    <p class="pt-3">Retail</p>
                </a>
            </div>
            <div class="col-6">
                <a href="{{ path('front_empresa_segmento', { "slug": "farmaceutica" }) }}">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-syringe"></i>
                    </button>
                    <p class="pt-3">Farmaceútica</p>
                </a>
            </div>
            <div class="col-6">
                <a href="{{ path('front_empresa_segmento', { "slug": "automor" }) }}">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-car-side"></i>
                    </button>
                    <p class="pt-3">Automotor</p>
                </a>
            </div>
            <div class="col-6">
                <a href="{{ path('front_empresa_segmento', { "slug": "tecnologia" }) }}">
                    <button type="button" class="btn btn-light rounded-circle">
                        <i class="fas fa-sim-card"></i>
                    </button>
                    <p class="pt-3">Tecnología</p>
                </a>
            </div>
            <div class="col-6">
                <a href="#" class="pt-3">Ver más segmentos...</a>
            </div>
        </div>
    </div>
</section>
