{% extends 'FrontBundle::base.html.twig' %}

{% block metaDescription %}{{ articulo.content.seo.description }}{% endblock %}
{% block metaKeywords %}{{ articulo.content.seo.description }}{% endblock %}
{% block title %}Andreani | {{ articulo.content.seo.title }}{% endblock %}

{% block header %}
    {% include "FrontBundle:Persona/Includes:header.html.twig" %}
    {% include "FrontBundle:Persona/Includes:menu.html.twig" %}
{% endblock %}

{% block body %}
    <div class="wrapper ficha-articulo p-lg-5 p-3">
        <img src="{{ articulo.content.teaser_image }}" alt="{{ articulo.content.title }}">
        <h2 class="pt-4">{{ articulo.content.title }}</h2>
        {{ markdownToHtml(articulo.content.long_text) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/front/css/Persona/style.css'
    'bundles/front/css/Persona/responsive.css'
    output = 'css/*.css'
    filter = '?yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}